* {
    margin: 0;
    padding: 0px;
    font-weight: 100;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 1s ease;
    background-color: #f4f4f4;
    /* Color de fondo inicial */
    color: #1f1e1e;
    /* Color del texto inicial */
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

nav {
    margin: 1rem 0;
    text-align: center;
}

nav a {
    margin: 0 1rem;
    text-decoration: none;
    color: #007BFF;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #333;
    color: #fff;
    margin-top: 2rem;
}

button {
    margin: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

/* Personalización de botones de Bootstrap */
.btn {
    &-primary {
        background-color: #4CAF50; /* Color de fondo */
        border-color: #4CAF50; /* Color del borde */
        color: #fff; /* Color del texto */
    }

    &-primary:hover {
        background-color: #45a049; /* Fondo al pasar el mouse */
        border-color: #45a049;
    }

    &-secondary {
        background-color: #008CBA;
        border-color: #008CBA;
        color: #fff;
    }

    &-secondary:hover {
        background-color: #007bb5;
        border-color: #007bb5;
    }

    &-warning {
        background-color: #f0ad4e;
        border-color: #f0ad4e;
        color: #fff;
    }

    &-warning:hover {
        background-color: #ec971f;
        border-color: #ec971f;
    }

    &-danger {
        background-color: #f44336;
        border-color: #f44336;
        color: #fff;
    }

    &-danger:hover {
        background-color: #e53935;
        border-color: #e53935;
    }
}

/* Animación para las habilidades */
.skill-item {
    position: relative;
    transition: transform 0.4s ease, background-color 0.4s ease;
    cursor: pointer;
    overflow: hidden;
}

.skill-item:hover {
    transform: scale(1.03);
    background-color: #f8f9fa;
}

.skill-description {
    font-size: 0.9rem;
    font-style: italic;
    color: #6c757d;
    margin-top: 0.5rem;
    opacity: 0;
    transition: opacity 0.4s ease;
    max-height: 0;
    overflow: hidden;
}

.skill-item:hover .skill-description {
    opacity: 1;
    max-height: 100px; /* Ajusta según el contenido */
}

/* Contenedor de la descripción */
#skill-description {
    font-size: 1.1rem;
    font-style: italic;
    color: #6c757d;
    min-height: 50px; /* Para evitar que el contenido salte */
    transition: opacity 0.3s ease;
    opacity: 0;
}

#skill-description.visible {
    opacity: 1;
}